// FONTS
$ff-display: "Raleway", sans-serif;
$ff-body: "Montserrat", sans-serif;
// COLORS
$color-purple: rgb(117, 15, 247);
$color-dark: rgb(20, 28, 58);
$color-white: rgb(255, 255, 255);
$color-purple-light: rgb(230, 236, 248);
