@import "base";
@import "variables";

body {
  font-family: $ff-body;
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
  color: $color-dark;
}

h1,
h2,
h3,
h4 {
  font-family: $ff-display;
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 95rem;
}

.header {
  text-align: center;

  margin-block: 3rem;

  &__heading {
    font-size: 3rem;
    margin-bottom: 1.7rem;
  }

  &__description {
    width: 70%;
    margin: 0 auto;
  }

  &__link {
    color: $color-purple;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.9rem 1.3rem;
  margin: 0 auto;
}

.project {
  margin: 0 auto;

  &__card-container {
    max-width: 23rem;
    width: 100%;
    text-align: center;
    background-color: $color-dark;
    border-radius: 13px;
    margin: 0 auto;
  }

  &__screenshot {
    border-radius: 13px 13px 0 0;

    &--1 {
      background: url("https://btaylor13.github.io/50-mini-js-projects/dashimages/expanding-cards.jpg");
      background-size: cover;
      background-position: center;
      height: 11rem;
      width: 100%;
    }

    &--2 {
      background: url("dashimages/progress-steps.jpg");
      background-size: cover;
      background-position: center;
      height: 11rem;
      width: 100%;
    }

    &--3 {
    }
  }

  &__text-content {
    width: 93%;
    margin: 0 auto;
  }

  &__heading {
    color: $color-white;
    margin-block: 1.3rem;
  }

  &__description {
    color: $color-white;
    margin-bottom: 1.3rem;
  }

  &__links {
    margin-bottom: 1.9rem;
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 1.7rem;

    &-github,
    &-demo {
      color: $color-purple-light;
    }
  }
}

// @media only screen and (max-width: 35rem) {
//   .project {

//   }
// }
